<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <header>
            <h1>Home</h1>
            <nav>
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Log Out</a>
                {% else %}
                <a href="{% url 'signup' %}">Sign Up</a>
                <a href="{% url 'login' %}">Log In</a>
                {% endif %}
            </nav>
        </header>
        <main>
        </main>
    </body>
</html>