<!DOCTYPE html>
<html lang="en">
    <header>
        <title>Leaving already?</title>
    </header>
    <body>
        <head>
            <h1>Sad to see you leave ;-;</h1>
            <nav>
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Log Out</a>
                {% else %}
                <a href="{% url 'signup' %}">Sign Up</a>
                <a href="{% url 'login' %}">Log In</a>
                {% endif %}
            </nav>
        <main>
            <p>Goodbye!</p>
        </main>
    </body>
</html>