<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Registration</title>
    </head>
    <body>
        <header>
            <h1>Log In</h1>
            <nav>
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Log Out</a>
                {% else %}
                <a href="{% url 'signup' %}">Sign Up</a>
                <a href="{% url 'login' %}">Log In</a>
                {% endif %}
            </nav>
        </header>
        <main>
            <div>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div>
                        <button>Log In</button>
                    </div>
                </form>
            </div>
        </main>
    </body>
</html>